__pycache__
.env
.venv
.idea
.pytest_cache
book
setup.py
LICENSE
*.egg-info
dist
build
.DS_Store
.cache
additional_instructions.md
journal
*.wt
*.lock
WiredTiger
*.turtle
*.bson
.mongodb
diagnostic.data